executor {
	$slurm {
		queueSize = 50
	}
}


process {
    withName: Preprocess {
            executor = "local"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            maxRetries = 3
	}
   withName: Blast {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=nih_s10 --account mpsnyder'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {10.GB * task.attempt}
            time = {10.h * task.attempt}
            maxRetries = 3
	}
    withName: Blast_extract_features {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=nih_s10 --account mpsnyder'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {64.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: Lookup_table {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=nih_s10 --account mpsnyder'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 1
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: Summarize {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=nih_s10 --account mpsnyder'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 1
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
    bind = " /oak/stanford/scg/lab_mpsnyder/khoa"
    cacheDir = "/labs/mpsnyder/khoa/envs"
}