executor {
	$slurm {
		queueSize = 800
	}
}

process {
    withName: Preprocess {
            executor = "local"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=owners,horence'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 2
            memory = {10.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
   withName: Blast {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=owners,horence'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 2
            memory = {10.GB * task.attempt}
            time = {10.h * task.attempt}
            maxRetries = 3
	}
    withName: Blast_extract_features {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=owners,horence'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 2
            memory = {64.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: Lookup_table {
            executor = "slurm"
            container = "scr.svc.stanford.edu/khoang99/containers/python-sequtils-blast-splash-pfam"
            clusterOptions = '--partition=owners,horence'
            errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
            cpus = 1
            memory = {24.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
    bind = "{$OAK}"
    cacheDir = "/scratch/groups/horence/khoa/singularity_imgs"
}